*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.625;
}

a {
  text-decoration: none;
}
h2 {
  font-size: 2rem;
  line-height: 1.17;
}

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

.container--sm {
  max-width: 540px;
}

.header {
  min-height: 700px;
  background-color: #eeeff1;
  padding: 76px 0 140px;
}

.header-nav {
  margin-bottom: 142px;
}

.header-nav__list {
  list-style-type: none;
  display: flex;
  column-gap: 42px;
  flex-wrap: wrap;
}

.header-nav__link {
  letter-spacing: 0.1rem;
  color: black;
}

.header-nav__link.active {
  font-weight: 500;
  color: #34547a;
}

.header-content {
  max-width: 541px;
}

.header-content__title {
  font-weight: 500;
  line-height: 79px;
  font-size: 48px;
  color: black;
  margin-top: 60px;
  margin-bottom: 35px;
}

.header-content__description {
  color: #727272;
  margin-bottom: 58px;
}

.header-content__link {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.1rem;
  color: #ffffff;
  padding: 0.5em;
  background-color: #34547a;
  min-height: 65px;
  width: 225px;
}

.main {
}

.about {
  padding: 112px 0 100px;
  text-align: center;
  background-color: #f9f9f9;
}

.about__title {
  margin-bottom: 50px;
}

.achievements {
  background-color: #34547a;
  padding: 100px 0;
  color: #ffffff;
}

.achievements__list {
  display: flex;
  list-style-type: none;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.achievement {
  display: flex;
  gap: 20px;
}

.work .container--sm {
  margin: 0 auto;
  margin-bottom: 57px;
}

.work {
  background-color: #eeeff1;
  padding: 100px 0;
  text-align: center;
}

.work__title {
  margin-bottom: 50px;
}

.work__video {
  width: 100%;
  aspect-ratio: 16 / 9;
}
.copyright {
  background-color: #34547a;
  color: #ffffff;
  padding: 50px 0;
}

.copyright__title {
  margin-bottom: 20px;
  font-size: 1.31rem;
  line-height: 1.19;
}
.copyright__text {
}
